.linkflair-one .linkflairlabel {
    background-color: #6495ED;
    font-size: 11px;
    color: #FFF;
    border-color: #6495ED;
    border-width: 1px;
    border-radius: 3px;
}

.flair-king {
    background-color: mediumpurple;
    font-weight: bold;
    color: purple;
}

.flair-queen {
    background-color: mediumpurple;
    color: purple;
}

.flair-lord {
    background-color: lightskyblue;
    font-weight: bold;
    color: royalblue;
}

.flair-knight {
    background-color: cornflowerblue;
    color: #FFF;
}

.flair-peasant {
    background-color: lightgray;
    color: dimgray;
}

.flair-vip {
    background-color: red;
    font-weight: bold;
    color: #FFF;
}
